<app-navbar></app-navbar>
<div class="container mt-4">

  <section>
    <div class="row">
      <div class="col-lg-3" style="margin: 30px;" *ngFor="let producto of listProductos;let i=index">
        <div class="card bg-light" style="width: 18rem;">
          <img [src]="producto.imagen1" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">{{i+1}}.{{producto.nombre}}</h5>
            <p class="card-text text-center">{{producto.precio| currency:'$':true:'1.0-0'}}</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary btn-block btn-xl" routerLink="/producto">Ver producto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="botonCarrito">
    <button class="btn btn-primary btn-flotante" routerLink="/carrito">
      <img src="../../../assets/img/carrito.svg">
      <!--
      <p style="text-align: center;">
          <b>

          </b>
      </p>
      -->
    </button>
  </section>
</div>
<app-footer></app-footer>
