<app-navbar></app-navbar>
<div class="row mt-3">
  <div class="col-lg-8 offset-lg-2">
    <div class="card" style="width: 25rem;margin:0 auto">
      <img src="../../../assets/img/Arenera Jumbo.jpg">
      <div class="card-body text-center">
        <h5 class="card-title">
          <strong>Nombre producto</strong>
        </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Precio:</strong> $2000</li>
          <li class="list-group-item"><strong>Descripcion:</strong>
            <br>
             buen producto de calidad etc bla bla bla hola que buen a pagina
          </li>
        </ul>
      </div>
      <button class="btn btn-primary btn-block btn-xl">
        Añadir al carrito
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
